.supportCTA {
	height: 715px; 
	width: 100%; 
	background: $skyblue; 
	margin-top: -3.10%; 
	.form-wrapper {
		width: 75%; 
		margin: 0 auto;
		.main-header {
			font-family: "proxima-nova-condensed"; 
			font-weight: 400; 
			font-size: 70px;
			text-align: center;  
			padding-top: 8%;
			margin-bottom: 0; 
		}
		.subheader {
			font-family: "proxima-nova-condensed"; 
			font-weight: 300; 
			font-size: 24px; 
			text-align: center; 
		}
		.issue-info {
			width: 55%; 
			margin: 0 auto; 
			.name, .email {
				width: 288px;
				height: 40px; 
			}
			.name {
				margin-right: 2%; 
			}
			.title {
				width: 592px;
				height: 40px; 
			}
			.description {
				width: 592px;
				height: 175px; 
			}
			.title, .description {
				margin-top: 2%; 
			}
			input::-webkit-input-placeholder {
			   padding-left: 2%;
			}
			.btn-wrapper {
				width: 16%; 
				margin: 6% auto 0 auto; 
				.submit {
					width: 90px; 
					height: 30px; 
					background: $red; 
					color: white; 
					font-family: "proxima-nova-condensed"; 
					font-weight: 300; 
					font-size: 20px; 
					margin-top: 2%; 
				}
			}
		}
	}
}