body {
	background-color: white !important; 
}

.cta {
	background-color: $light-red; 
	color: white;
	&:hover {
		background-color: $light-red;
	}
}

button {
	border: none;
}


.landing-container {
	@extend .fill;

	.url-relative-wrapper {
		position: relative;
		width: 400px;
		height: 40px;
		margin: 0 auto;
	}

	.header-url {
		@extend .url;
		right: 0;
		z-index: 1;
		box-shadow: 0 2px 2px rgba(#111, .15);
		top: 0;
		margin: 0;
		.url-input {
			background: #eee;
			border-radius: 2px;
			height: 40px;
			width: 355px;
			border: none;
			padding-left: 20px;
		}
	}


	.cta-spacing {
		padding: 10px 30px;
		font-size: 16px;
	}


	.hero-section {
		background: $skyblue;
		position: relative;
		height: 662px;
		.hero-positioning {
			position: relative;
			margin: 0 auto;
			z-index: 1;
			display: table;
			@extend %vertical-align;
		}

		.monitor-img {
			width: 400px;
			display: table-cell;
		}
		.empty-cell {
			display: table-cell;
			width: 10%;
		}
		.hero-info {
			display: table-cell;
			font-family: "proxima-nova-condensed";
			text-align: center;
			vertical-align: top;
			.main-header {
				font-weight: 400;
				font-size: 70px;
				color: white;
				letter-spacing: .01em;
				margin: 62px 0 0 0;
				@include respond-to(small) {
					font-size: 50px;
				}
				@include respond-to(large) {
					@include font-size(7);
				}

			}
			.main-subhead {
				font-size: 24px;
				font-weight: 300;
				color: black;
				letter-spacing: .02em;
				margin: 0;
			}
		}
		.dark-banner {
			height: 220px;
			width: 100%;
			background: #10979f;
			position: absolute;
			bottom: 0;
		}
	}

	.mode-section {
		height: 435px;
//		@include respond-to(large) {
//			margin-top: -182px;
//		}
		.main-header {
			background: white;
			font-family: "proxima-nova";
			@include font-size(4.8);
			font-weight: 400;
			text-align: center;
//			padding-top: 20px;
			width: 100%;
			border-bottom: 2px solid darken($light-grey, 10);
			padding-bottom: 20px;
			margin-bottom: 0;
			@include respond-to(small) {
				@include font-size(4);
			}
		}
		.on-screen {
			float: left;
			border-right: 2px solid darken($light-grey, 10);
		}
		.on-the-metal {
			float: right;
		}
		.on-screen, .on-the-metal {
			height: 336px;
			width: 50%;
			text-align: center;
			background: $light-grey;
			.mode {
				font-family: "proxima-nova";
				@include font-size(3.8);
				font-weight: 400;
				margin: 0;
				padding-top: 30px;
			}
			.mode-details {
				font-family: "proxima-nova-condensed";
				@include font-size(2.2);
				font-weight: 400;
				list-style: inside;
				line-height: 2;
				@include respond-to(small) {
					@include font-size(2);
				}
				@include respond-to(large) {
					@include font-size(2.2);
				}
			}
			.mode-cta {
				height: 40px;
				width: 170px;
				background: $red;
				color: white;
				border-radius: 2px;
				text-transform: uppercase;
				font-family: "proxima-nova";
				font-weight: 500;
				font-size: 16px;
				letter-spacing: .08em;
			}
		}
	}

	.video-section {
		height: 582px;
		background: $red;
		margin-top: -28px;
		.video-header {
			padding-top: 20px;
			padding-bottom: 20px;
			font-family: "proxima-nova-condensed";
			@include font-size(3.6);
			font-weight: 400;
			color: white;
			@include respond-to(small) {
				@include font-size(3.2);
			}
			@include respond-to(large) {
				@include font-size(3.6);
			}
		}
		.video-text {
			float: left;
			width: 35%;
			margin-left: 5%;
			margin-top: 5%;

//			@include respond-to(large) {
//				width: 30%;
//				margin-left: 410px;
//			}
			p {
				font-family: "proxima-nova-condensed";
				font-weight: 400;
				@include font-size(2.4);
				@include respond-to(small) {
					@include font-size(2);
				}
				@include respond-to(large) {
					@include font-size(2.2);
				}
				color: white;
			}
		}
		.video {
			float: right;
			width: 40%;
			margin-right: 80px;
			margin-top: 130px;
		}
	}


	.brands-section {
		height: 445px;
		background: $skyblue;

		.mobilizer-header {
			text-align: center;
			margin: 0 auto;
			width: 60%;
			font-family: "proxima-nova-condensed";
			p {
				font-size: 24px;
				font-weight: 600;
			}
			h1 {
				@include font-size(3.6);
				color: white;
				font-weight: 600;
				padding-top: 50px;
				margin-top: 0;
			}
		}
		.logo-container {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}
	}

}






