.on-the-metal-container {
	h2 {
		@include respond-to(large) {
			@include font-size(2.2);
		}
	}

	.header-url {
		@extend .url;
		top: 28%;
		left: 0;
		margin: -20px 170px 0;
		box-shadow: 0 2px 2px rgba(#111, .15);
		@include respond-to(medium) {
			width: 300px;
		}
		.url-input {
			background: #eee;
			border-radius: 2px;
			height: 40px;
			width: 355px;
			border: none;
			padding-left: 20px;
		}
	}

	.mainCTA {
		background: $skyblue;
		height: 500px;
		.main-header-wrapper {
			margin-top: 5%;
			width: 30%;
			float: left;
			margin-left: 172px;
			font-family: "proxima-nova-condensed";
			@include respond-to(small) {
				width: 40%;
				margin-top: 12%;
				margin-left: 40px;
			}
			@include respond-to(x-small) {
				width: 100%;
				margin-top: 12%;
				margin-left: 0px;
			}
			h1 {
				color: white;
				margin-bottom: 0;
			}
		}
		.video {
			float: right;
			width: 30%;
			margin-right: 172px;
			margin-top: 120px;
			@include respond-to(x-small) {
				margin-right: 0;
				margin-top: 0;
				width: 100%;
			}
		}
	}

	.section-2-wrapper {
		background: #727272;
		height: 400px;
		.device-text {
			width: 30%;
			float: left;
			margin-left: 5%;
			@include respond-to(x-small) {
				width: 100%;
				float: none;
				margin-left: 0;
			}
			h1 {
				color: white;
				@include respond-to(small) {
					@include font-size(3.4);
				}
				@include respond-to(x-small) {
					@include font-size(3.2);
					margin-top: 0;
					padding-top: 10px;
				}
			}
			h2 {
				font-weight: 400;
				@include font-size(2.4);
				color: white;
				font-family: "proxima-nova-condensed";
				@include respond-to(large) {
					@include font-size(2.2);
				}
				@include respond-to(medium) {
					@include font-size(2.2);
				}
				@include respond-to(small) {
					@include font-size(2.2);
				}
				@include respond-to(x-small) {
					@include font-size(2);
				}
			}
		}
		.device-row {
			width: 30%;
			float: right;
			margin-top: 100px;
			@include respond-to(x-small) {
				display: none;
			}
		}
	}
	.section-3-wrapper {
		background: #ECEDEE;
		height: 500px;
		@include respond-to(x-small) {
			height: 950px;
		}
		.left-wrapper, .right-wrapper {
			width: 40%;
			.text {
				h1 {
					font-weight: 500;
					@include font-size(3.6);
					font-family: "proxima-nova-condensed";
					margin-top: 0px;
					@include respond-to(medium) {
						@include font-size(3.4);
					}
					@include respond-to(small) {
						@include font-size(3.2);
					}
					@include respond-to(x-small) {
						@include font-size(3.2);
					}
				}
				h2 {
					font-weight: 400;
					@include font-size(2.4);
					font-family: "proxima-nova-condensed";
					@include respond-to(large) {
						@include font-size(2.2);
					}
					@include respond-to(medium) {
						@include font-size(2.2);
					}
					@include respond-to(small) {
						@include font-size(1.8);
					}
					@include respond-to(x-small) {
						@include font-size(1.8);
					}
				}
			}
		}
		.left-wrapper {
			float: left;
			margin-left: 2%;
			@include respond-to(medium) {
				margin-left: 6%;

			}
			@include respond-to(x-small) {
				width: 100%;
				float: none;
			}
			.metal-testing {
				width: 400px;
				height: 275px;
				padding-top: 10px;
				@include respond-to(medium) {
					height: 245px;
				}
				@include respond-to(small) {
					height: 245px;
				}
			}
		}
		.right-wrapper {
			float: right;
			margin-right: 2%;
			@include respond-to(x-small) {
				width: 100%;
				float: none;
			}
			.metal-report {
				width: 400px;
				height: 275px;
				padding-top: 10px;
				@include respond-to(medium) {
					height: 245px;
				}
				@include respond-to(small) {
					height: 245px;
				}
			}
		}
	}
	.section-4-wrapper {
		background: $skyblue;
		height: 400px;
		margin-top: -24px;
		h1 {
			padding-top: 85px;
			font-weight: 500;
			@include font-size(3.6);
			color: white;
			text-align: center;
			font-family: "proxima-nova-condensed";
			@include respond-to(x-small) {
				@include font-size(3.2);
			}
		}
		.subscribe-wrapper {
			width: 270px;
			height: 40px;
			margin: 0 auto;
			.subscription-btn {
				width: 100%;
				height: 100%;
				color: white;
				background: $red;
				margin-top: 50px;
				font-variant: small-caps;
				font-family: "proxima-nova";
				@include font-size(1.8);
			}
		}
	}
}

