.pricing-page-wrapper {
	.mainCTA {
		background: $light-grey; 
		border: 1px solid #d8d8d8;
		@include box-shadow(4px 4px 4px #d8d8d8); 
		height: 150px;
		h1 {
			text-align: center; 
			font-family: "proxima-nova-condensed"; 
			font-size: 60px;
			font-weight: 600; 
		}
	}
	.plan-wrapper {
		width: 90%;  
		margin: 2% auto; 
		.plan {
			padding: 2%;
			float: left;
			.price {
				width: 268px;
				height: 215px; 
				background: $light-grey; 
				border: 2px solid #d8d8d8;
				.mode {
					font-family: "proxima-nova-condensed";
					font-weight: 600; 
					letter-spacing: 1.5px; 
					padding-left: 15px; 
					text-transform: uppercase; 
					color: black;
				  	height: 0;
				}
				h1{
					font-family: "proxima-nova";
					font-weight: 400; 
					letter-spacing: 1.5px; 
					text-align: center; 
					color: $skyblue;
				  	font-size: 50px;
				}
				.unlimited {
					font-family: "proxima-nova-condensed";
					font-weight: 600; 
					letter-spacing: 1.5px;
					text-align: center;
					text-transform: uppercase; 
					width: 80%; 
					margin: 0 auto;
				  	color: #9e9c9c;
				}
			}
			.description {
				width: 268px;
			  	height: 300px;
				background: white; 
				color: #9e9c9c; 
				font-family: "proxima-nova-condensed"; 
				font-weight: 400; 
				font-size: 16px; 
				line-height: 2; 
				border-bottom: 2px solid #d8d8d8; 
				border-right: 2px solid #d8d8d8; 
				border-left: 2px solid #d8d8d8;
				p {
					margin: 8% 4%;
				  	font-size: 16px;
				 	text-align: center;
				  	line-height: 1.25;
				}
			  ul {
				margin: 8% 4%;
				font-size: 16px;
			  }
				.subscribe {
					font-family: "proxima-nova-condensed"; 
					font-weight: 600; 
					letter-spacing: 1.5px; 
					font-size: 18px; 
					text-transform: uppercase;
					color: white;
					background: $red; 
					width: 80%; 
					height: 40px; 
					margin-left: 10%; 
					margin-top: 8%;
				  	border: none;
					@include border-radius-all(2px);
				}

			}
		}
	}
}