html, body{
	font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.fill {
	height: 100%;
	width: 100%;
}

.user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.relative-wrapper{
	@extend .fill;
	position: relative;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

.small-caps{
	@include font-size(2);
	font-weight: 600;
	letter-spacing: .03em;
	font-variant: small-caps;
}