// Core Colors

	// General
	$white: #ffffff; // used 42 times
	$not-black: #030303;
	
		// Pure Greys 
		$light-grey: #eaeaea; //used 6 times (inflated a bit)
		$middle-grey: #585858;
		$dark-grey: #262626;

		// Blue Tinted Greys
		$light-blueGrey: #919D9E; // used 15 times (inflated a bit)
		$mid-blueGrey: #485A5C; //used 6 times
		$dark-blueGrey: #2b2c2c;

	// Highlights
	$yellow: #f0a514; // used 8 times
	$light-red: #ff503f; // used 3 times
	$red: #F05244; // used 7 times
	$red-hover: #d93c2d; //used 1 time
	$skyblue: #00ACB5; // used 9 times
	$dark-blue: #0a777d; // used 2 times


// Device Panel Specific Colors

	// Device Top Bar
	$device-bar-dropdowns: #414343; // used 2 time
	$device-bar-bkg: #666969; // used 1 time

		// Slots
		$device-slot-divider: #959595; // used 1 time
		$device-slot-border: #3c3e3e; // used 1 time
		$device-slot-background: #414343;

	// Device Side Bar
	$dropdown-background: $dark-blueGrey;
	$filter-button-background: #1B1B1B; //used 2 times

	// Device Picker
	$device-picker-bkg: #1E2528; // used 1 time
	$device-content-background: #252D31; //used 1 time
	$device-content-border: #3c3c3c; // used 2 times

// Home Page
$light-grey: #f5f5f5; 







