.footer-container {
	font-family: "proxima-nova-condensed";
	width: 100%;
	background-color: $not-black; 
	height: 40px;
  	bottom: 0;
  	position: fixed;
	.mobilizer-legal {
		color: white; 
		font-size: 14px;
		padding-top: 10px;
		padding-left: 20px; 
		.footer-links {
			color: white;
		}
	}
	.social-container {
		float: right;
		margin-top: -20px;
		margin-right: 20px;   
		.social-icon {
			float: right; 
			margin-right: 15px; 
		}
	}
}