*, *:before, *:after { @extend %border-box; }

html {
	font-size: 62.5%;
	color: $not-black;
	width: 100%;
	height: 100%;
	display: block;
}

body {
	@extend %clearfix;
	@include font-size(1.6);
	padding: 0px;
	width: 100%;
	height: 100%;
	background: #eee;
	overflow: auto;
}

// .svg-defs { display: none; }

img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2em;
	font-weight: normal;
}

h1 { @include font-size(5); }

h2 { @include font-size(3); }

h3 { @include font-size(2.5); }

h4 { @include font-size(2); }

h5 { @include font-size(1.6); }

p {
	@include font-size(1.6);
	color: $dark-grey;
	line-height: 1.5em;

	a {
		color: $skyblue;

		&:hover {
			border-bottom: 2px solid $skyblue;
		}
	}
}

.top-bar {
	position: fixed;
	width: 100%;
	height: 60px;
	background: $skyblue;
	z-index: 100;
	box-shadow: 0 2px 2px rgba(#111, .4);
	&.black {
		background: $not-black;
	}
}


.logo {
	position: relative;
	float: left;
	height: 30px;
	width: 200px;
	margin: 15px 20px;
	background: url('https://dl.dropboxusercontent.com/u/128045/Development/mobilizer-site-nav/assets/img/mobilizer-logo.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
}

nav {
	position: absolute;
	top: 0;
	left: 240px;
	bottom: 0;

	a {
		position: relative;
		float: left;
		margin-right: 20px;
		line-height: 62px;
		text-transform: uppercase;
		font-size: 14px;
		color: lighten($middle-grey, 5);
		text-decoration: none;
		letter-spacing: 1px;
		@include transition(all ease 200ms);

		&:after {
			content: '';
			position: absolute;
			top: -5px;
			left: 0;
			right: 0;
			height: 5px;
			background: $skyblue;
			@include transition(all ease 200ms);
		}

		&:hover {
			color: white;

			&:after { top: 0; }
		}

		&.selected {
			color: white;

//			&:after { top: 0; }
		}
	}
}

.url {
	position: absolute;
	top: -50px;
	right: 300px;
	width: 400px;
	height: 40px;
	background: #eee;
	border-radius: 2px;
	overflow: hidden;
	transition: all ease 300ms;
	.url-input {
		background: #eee;
		border-radius: 2px;
		height: 40px;
		width: 355px;
		border: none;
		padding-left: 20px;
	}
}

.app-toggle {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	background: $skyblue;
	line-height: 42px;
	text-transform: uppercase;
	color: white;
	overflow: hidden;

	&:after {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 40px;
		font-family: 'ringtail-icons-2.0';
		@extend .ico-arrow-down:before;
		@include font-size(3.3);
		line-height: 42px;
		text-align: center;
		color: lighten($skyblue, 20);
	}
}

.live-preview-button {
	position: relative;
	width: auto;
	height: 40px;
	line-height: 42px;
	padding-left: 40px;

	&:before {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 40px;
		font-family: 'ringtail-icons-2.0';
		@extend .ico-computer:before;
		@include font-size(3.3);
		line-height: 42px;
		text-align: center;
		color: white;
	}

	&:hover {
		cursor: pointer;
		background: lighten($red, 5);
	}
}

.go-button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
	background: $red !important;
	text-align: center;
	line-height: 42px;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}

.login-button,
.subscribe-button {
	position: absolute;
	top: 10px;
	height: 40px;
	border-radius: 2px;

	&:hover { cursor: pointer; }
}

.login-button,
.subscribe-button {
	text-align: center;
	line-height: 42px;
	text-transform: uppercase;
	color: white;
}

.subscribe-button {
	right: 160px;
	width: 120px;
	background: $red;
	&:hover {
		background: lighten($red, 7);
	}
}

.login-button {
	right: 20px;
	width: 120px;
	background: $skyblue;
	&:hover {
		background: lighten($skyblue, 7);
	}
}

//.site-header {
//	position: relative;
//	top: 50px;
//	width: 100%;
//	height: 300px;
//	background: $light-grey;
//	border-bottom: 1px solid $middle-grey;
//	box-shadow: 0 2px 2px rgba(#111, .15);
//}

.content {
	width: 100%;
	height: auto;
	background: #eee;
}


.app-side {
	nav { display: none; }

	.url {
		top: 10px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 600px;
	}

	.app-toggle { display: block; }

	.site-header,
	.content { display: none; }
}
